html {
      box-sizing: border-box;
}

*,
::after,
::before {
      box-sizing: inherit;
}

.body {
      font-family: Quicksand, Helvetica, sans-serif;
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      margin-top: 5px;
      background-image: url("../images/coin-background.jpg");
      background-size: cover;
}